html, body, h1 {
	padding: 0;
	margin: 0;
}

ol, ul {
	padding: 0;
}

dl, ol, ul {
	margin: 0;
}

header#header {
	background-color: #3a3a3a;
	color: #fff;
	padding: 20px 0;
	position: relative;
	width: 100%;

	#logo {
		background: url('../images/logo.png') no-repeat;
		display: block;
		height: 40px;
		margin: 0 0 0 20px;
		position: relative;
		text-indent: -999px;
		width: 175px;
	}
}

h1, h2, h3, .artist a, #switch-media, #main-nav li a, #releases li, #songs li {
	font-family: "proxima_nova_ltbold";
}

#menu {
	background: #006a94;
	height: 40px;
	width: 100%;

	#switch-media, #main-nav li a {
		color: #fff;
		font-size: 1em;
		text-decoration: none;
		text-transform: uppercase;
	}

	#switch-media {
		background-color: #007fb1;
		height: 30px;
		float: left;
		padding: 10px 0 0 0;
		text-align: center;
		width: 280px;
	}

	#main-nav {
		height: 100%;
		margin: 0 auto;
		width: 400px;

		li {
			height: 100%;
			float: left;
			text-align: center;
			width: 100px;

			a {
				display: block;
				height: 30px;
				padding: 10px 0 0 0;
				width: 100px;

				&:hover {
					background: #1399ce;
				}
				
				&.current {
					background: #0b4f6a;
				}
			}
		}
	}
}

.sidebar {
	clear: both;
	float: left;
	width: 280px;

	#artists {

		.artist {

			.bold a {
				font-family: "proxima_nova_rgbold";
				font-weight: bold;
			}

			a {
				background: #c6e5f1;
				color: #000;
				display: block;
				font-family: "proxima_nova_ltbold";
				height: 20px;
				padding: 10px;
				text-decoration: none;
				width: 260px;

				&:hover {
					background: #8bd1ec;
				}
			}
		}
	}
}

#main-section {
	background: #e4f7ff;
	float: left;
}

@-webkit-keyframes spinner {
	from { -webkit-transform: rotateY(0deg);    }
	to   { -webkit-transform: rotateY(-90deg); }
}

/* main container modules */
#featured-artist {
	background-position: 20%, 30%;
	color: #fff;
	height: 360px;
	padding: 20px 0;
	position: relative;
	width: 100%;

	#logo {
		bottom: 20px;
		left: 20px;
		position: absolute;

	}

	.show-stats {
		&#stats {
			display: block;
			bottom: 0;
			position: absolute;
			right: 0;

			li {
				background: #2d2d2d url('../images/synkro.png');
				height: 160px;
				float: left;
				list-style: none;
				width: 160px;
				/* -webkit-animation-name: spinner;
			    -webkit-animation-timing-function: linear;
			    -webkit-animation-iteration-count: 1;
			    -webkit-animation-duration: 2s;
			    -webkit-transform-style: preserve-3d; */
			}
		}
	}

	#stats {
		display: none;
	}
}

.module {
	margin: 20px;

	&.thumb-list {
		li {
			height: 200px;
			list-style: none;
			float: left;
			margin: 0 20px 20px 0;
			position: relative;

			a {
				display: block;
				height: 100%;
				-webkit-transition: opacity 100ms linear;
			}

			.artist-title {
				bottom: 0px;
				color: #fff;
				left: 5px;
				margin: 0;
				position: absolute;
				text-decoration: none
			}

			&.item:hover .overlay {
				opacity: 1;
			}

			&.item:hover h3 {
				opacity: 0;
			}

			.overlay {
				color: #fff;
				display: block;
				height: 200px;
				position: absolute;
				opacity: 0;
				-webkit-transition: opacity 100ms linear;
				width: 200px;
				z-index: 100;

				h1 {
					font-size: 1.4em;
					margin: 10px 0 0 10px;
				}

				.thumb-list-info {
					display: block;

					li {
						display: none;
						height: 57px;
						width: 100%;
						
						h2, h3 {
							color: #fff;
							display: block;
							opacity: 1;
							padding: 0;
							margin: 0;
							width: 150px;
						}

						h2 {
							font-size: 1em;
							margin: 10px 0 0 10px;
						}

						h3 {
							font-size: 0.8em;
							margin: 0 0 0 10px;
							opacity: 0.8;
						}

						&:hover {
							background-color: rgba(255, 255, 255, 0.2); 
							background-image: url('../images/play-this-icon.png'); 
							background-position: 160px, -180px; 
							background-repeat: no-repeat;
						}
					}
				}
			}
		}
	}
}

/* player */
#player {
	background: #2f2f2f;
	bottom: 0;
	display: block;
	height: 80px;
	position: fixed;
	width: 100%;

	#controls {
		color: #fff;
		height: 100%;
		float: left;

		li {
			float: left;
			margin: 17px 0 0 0;

			a {
				background: url('../images/play-controls-sprite.png');
				display: block;
				height: 40px;
				text-indent: -9999px;
				width: 40px;

				&.back {
					background-position: -81px 0px;
				}

				&.forward {
					background-position: -121px 0px;
				}

				&.play {
					background-position: 0px 0px;
				}

				&.pause {
					background-position: -40px 0px;
				}
			}
		}
	}

	#info {
		height: 100%;
		float: left;

		#thumb {
			background: #6b6b6b;
			float: left;
			height: 50px;
			margin: 10px;
			width: 50px;
		}

		h2 {
			color: #fff;
			display: block;
			font-size: 1.2em;
			float: left;
			margin: 20px 20px 0 20px;		
		}

		h4 {
			color: #ccc;
			display: block;
			font-size: 0.9em;
			margin: 0px 20px 20px 20px;
		}
	}

	#time-current, 
	#time-remain {
		color: #fff;
		height: 100%;
		float: left;
		margin: 0 20px;
		padding: 30px 0;
		width: 40px;

	}

	#html5player {
		float: right;
	}
}

#releases {
	background: #e4f7ff;
	height: 300px;
	width: 100%;

	li {
		list-style: none;

		a {
			color: #000;
			display: block;
			height: 20px;
			padding: 10px;
			text-decoration: none;
			width: 260px;

			&:hover {
				background: #8bd1ec;
			}
		}
	}
}

#songs {
	background: #c6eeff;
	height: 600px;
	width: 100%;

	li {
		list-style: none;

		a {
			color: #000;
			display: block;
			height: 20px;
			padding: 10px;
			text-decoration: none;
			width: 260px;

			&:hover {
				background: #8bd1ec;
			}
		}
	}
}

#eq {
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#queue {
	background: red;
	bottom: 0;
	display: block;
	height: 80px;
	left: 0;
	position: fixed;
	width: 100%;

	li {
		background: #000;
		color: #fff;
		display: block;
		float: left;
		padding: 10px;
		margin: 10px;
		width: 200px;

		&.current {
			background: yellow;
		}

		a.delete {
			background: #000;
			color: #fff;
			display: block;
			height: 100%;
			float: right;
			text-decoration: none;
			width: 30px;
		}
	}
}

#queue-icon {
	background: lime;
	display: block;
	float: left;
	height: 50px;
	width: 50px;
}