<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{locals.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/js/vendor/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.socket.io/stable/socket.io.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://documentcloud.github.io/backbone/backbone.js"></script>
    <script src="http://underscorejs.org/underscore.js"></script>
</head>
<body>

    <!-- Username Modal Box & overlay 
    <div class="modal" id="get-username">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Hello, what is your name?</h3>
        </div>
        <div class="modal-body">
            <input id="input-username" class="input-block-level" type="text" />
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" id="add-username" class="btn btn-primary">Save changes</a>
        </div>
    </div>
    <div id="overlay"></div>-->

    <div id="play-here"></div>

	<header id="header">
        <h1 id="logo">Shambala</h1>

        <form id="search-form">
            <input type="text" id="query" placeholder="Search" />
            <select id="media-type">
                    <option class="music">Music</option>
                    <option class="tvshows">TV Shows</option>
                    <option class="movies">Movies</option>
            </select>
            <button id="submit" type"submit">Search</button>
        </form>

        <ul id="sources">
        </ul>
    </header>

    <nav id="menu">

        <div id="switch-media">
            <ul class="closed">
                <li><a href="/library/music">Music</a></li>
                <li><a href="/library/tvshows">TV Shows</a></li>
                <li><a href="/library/movies">Movies</a></li>
            </ul>
        </div>

        <ul id="main-nav">
            <li><a id="browse" href="/browse/">Browse</a></li>
            <li><a id="library" href="/library/" class="current">My Library</a></li>
            <li><a id="playlists" href="/playlists/">Playlists</a></li>
        </ul>

    </nav>

    <div id="page">

    </div>

    <!-- _footer -->
    <ul id="queue"></ul>
    <div id="player">
        <audio id="html5player" src="" controls>
            <!-- <source id="mp3source" type="audio/mpeg"></source> -->
        </audio>
        <nav id="controls">
            <ul>
                <li><a href="" class="back">Back</a></li>
                <li><a href="" class="play">Play</a></li>
                <li><a href="" class="forward">Forward</a></li>
            </ul>
        </nav>
        <div id="info">
            <img src="" id="thumb" />
            <h2></h2>
            <h4></h4>
        </div>
        <p id="time-current"></p>
        <div id="seek"></div>
        <p id="time-remain"></p>

        <a href="" id="queue-icon">Queue</a>
        <a href="" id="save-playlist">Save as Playlist</a>
        <a href="" id="notifications">Enable Notifications?</a>

    </div>

    <script src="/js/vendor/quantize.js"></script>
    <script src="/js/vendor/colorThief.js"></script>
    <script src="/js/vendor/historyjs/scripts/bundled/html4+html5/jquery.history.js">
    </script>

    <script src="/js/plugins.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/fx.js"></script>
    <script src="/js/library.js"></script>
    <script src="/js/audio.js"></script>
    <script src="/js/browse.js"></script>

    <script src="/js/main.js"></script>
    <script>
        console.log('queue', Utils.getLocalStorage('queue'));

        var socket = io.connect(window.location.protocol + '//' + window.location.host);
        socket.on('updateClients', function (ip, clients) {
            console.log('client', clients);
            //socket.emit('my other event', { my: 'data' });
            $('#sources').html('');
            console.log(clients);
            $.each(clients, function(k,v){
                console.log('updating sources');
                $('#sources').append('<li><a href="" class="play-to" data-socketid="'+k+'">'+clients[k]+':'+clients[v]+'</a></li>');
            });

        });

        socket.on('play-here', function(obj){
            Audio.player.stop();
            Utils.setLocalStorage('queue', obj.queue);
            Utils.setLocalStorage('queue-position', obj.queuePosition);
            Audio.queue.persist();
            Audio.queue.start();
        });

        $(document).on("click", '.play-to', function(e){
            e.preventDefault();
            var obj = {
                target: $(this).data('socketid'),
                queue: Utils.getLocalStorage('queue'),
                queuePosition: Utils.getLocalStorage('queue-position')
            };
            Audio.player.stop();
            socket.emit('play-to', obj)
        });

    </script>

</html>