	<nav class="sidebar">
        <ul id="sources">
            <li class="source bold"><a class="exfm-trending" href="trending/">exFM</a></li>
            <li class="source bold"><a class="hypem" href="trending/">Hype Machine</a></li>
            <li class="source bold"><a class="subreddit" href="reddit/futurebeats">/r/futurebeats</a></li>
            <li class="source bold"><a class="youtube" href="youtube/boilerroomtv">boilerroomtv</a></li>
            <li class="source bold"><a class="rinse" href="rinse/podcasts">RinseFM Podcasts</a></li>
        </ul>
    </nav>

	<div id="main-section">
		
	</div>