	<nav class="sidebar">
        <ul id="artists">
            <!-- <li class="artist bold"><a href="">All Artists (456)</a></li>
            <li class="artist bold"><a href="">Compilations</a></li> -->
        </ul>
    </nav>

	<div id="main-section">
        <a href="" class="featured-artist">
    		<article id="featured-artist">
                <h1>From your collection:</h1>
                <img src="" id="logo" />

                <ul id="stats">
                    <li id="1" class="closed"></li>
                    <li id="2" class="closed"></li>
                    <li id="3" class="closed"></li>
                </ul>

            </article>
        </a>

        <article id="recently-added" class="clearfix module thumb-list">

            <h2>Recently Added</h2>
            <hr />

            <ul></ul>

        </article>

	</div>