	<nav class="sidebar">
        <ul id="artists">
            <!-- <li class="artist bold"><a href="">All Artists (456)</a></li>
            <li class="artist bold"><a href="">Compilations</a></li> -->
        </ul>
    </nav>

	<div id="main-section">
		<article id="featured-artist" style="background-image: url('/images/featured-background.jpg')">
            <h1>Featured Artist</h1>
            <img src="http://fanart.tv/fanart/music/c8b03190-306c-4120-bb0b-6f2ebfc06ea9/musiclogo/the-weeknd-4ee692822a3aa.png" id="logo" />

            <ul id="stats">
                <li id="1" class="closed"></li>
                <li id="2" class="closed"></li>
                <li id="3" class="closed"></li>
            </ul>

        </article>

        <article id="recently-added" class="clearfix module thumb-list">

            <h2>Recently Added</h2>
            <hr />

            <ul>

                <!-- <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Bauuer</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Harlem Shake</h2>
                                        <h3>Harlem Shake</h3>
                                    </li>
                                     <li>
                                        <h2>Yaow!</h2>
                                        <h3>Harlem Shake</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/bauuer.jpg" class="thumb" /><h3 class="artist-title">Bauuer</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Groove Theory</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Tell Me (George Fitzgerald Remix)</h2>
                                        <h3>White Label</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/georgefitzgerlad.jpg" class="thumb" />
                            <h3 class="artist-title">Bauuer</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Nguzunguzu</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Timesup (Kingdom Remix)</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                    <li>
                                        <h2>Water Bass Power</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/nguzunguzu.jpg" class="thumb" />
                            <h3 class="artist-title">Nguzunguzu</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Submotion Orchestra</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Sleepwalker</h2>
                                        <h3>Fragments</h3>
                                    </li>
                                    <li>
                                        <h2>Hymn for Him</h2>
                                        <h3>Finest Hour</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/submotion.jpg" class="thumb" />
                            <h3 class="artist-title">Submotion Orchestra</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Synkro &amp; Indigo</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Guidance</h2>
                                        <h3>Guidance</h3>
                                    </li>
                                    <li>
                                        <h2>Reflection</h2>
                                        <h3>Guidance</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/synkroindigo.jpg" class="thumb" />
                            <h3 class="artist-title">Synkro &amp; Indigo</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Synkro</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Broken Promise</h2>
                                        <h3>Broken Promise EP</h3>
                                    </li>
                                    <li>
                                        <h2>Memories Of Love</h2>
                                        <h3>Broken Promise EP</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/synkro.png" class="thumb" />
                            <h3 class="artist-title">Synkro &amp; Indigo</h3>
                        </a>
                </li>

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Nguzunguzu</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Timesup (Kingdom Remix)</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                    <li>
                                        <h2>Water Bass Power</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/nguzunguzu.jpg" class="thumb" />
                            <h3 class="artist-title">Nguzunguzu</h3>
                        </a>
                </li>

            -->
            </ul>

        </article>

		<ul id="releases"></ul>

		<ul id="songs"></ul>
		
	</div>