	<nav class="sidebar">
        <ul id="artists">
            <!-- <li class="artist bold"><a href="">All Artists (456)</a></li>
            <li class="artist bold"><a href="">Compilations</a></li> -->
        </ul>
    </nav>

	<div id="main-section">
        <a href="" class="featured-artist">
    		<article id="featured-artist">
                <h1>Featured Artist</h1>
                <img src="" id="logo" />

                <ul id="stats">
                    <li id="1" class="closed"></li>
                    <li id="2" class="closed"></li>
                    <li id="3" class="closed"></li>
                </ul>

            </article>
        </a>

        <article id="recently-added" class="clearfix module thumb-list">

            <h2>Recently Added</h2>
            <hr />

            <ul>

             <!--

                <li class="item">
                        <a href="">

                            <div class="overlay">
                                <h1>Nguzunguzu</h1>
                                <ul class="thumb-list-info songs">
                                    <li>
                                        <h2>Timesup (Kingdom Remix)</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                    <li>
                                        <h2>Water Bass Power</h2>
                                        <h3>Timesup EP</h3>
                                    </li>
                                </ul>
                            </div>

                            <img src="/images/nguzunguzu.jpg" class="thumb" />
                            <h3 class="artist-title">Nguzunguzu</h3>
                        </a>
                </li>

            -->
            </ul>

        </article>

	</div>