	<!-- _footer -->
	<ul id="queue"></ul>
	<div id="player">
		<audio id="html5player" src="" controls>
			<!-- <source id="mp3source" type="audio/mpeg"></source> -->
		</audio>
		<nav id="controls">
			<ul>
				<li><a href="" class="back">Back</a></li>
				<li><a href="" class="play">Play</a></li>
				<li><a href="" class="forward">Forward</a></li>
			</ul>
		</nav>
		<div id="info">
			<img src="" id="thumb" />
			<h2></h2>
			<h4></h4>
		</div>
		<p id="time-current"></p>
		<div id="seek"></div>
		<p id="time-remain"></p>

		<a href="" id="queue-icon">Queue</a>

	</div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/vendor/quantize.js"></script>
    <script src="/js/vendor/colorThief.js"></script>
    <script src="/js/vendor/historyjs/scripts/bundled/html4+html5/jquery.history.js">
    </script>

    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/fx.js"></script>
    <script src="/js/library.js"></script>
    <script src="/js/audio.js"></script>

</html>