	<!-- _footer -->
	<div id="player">
		<audio id="html5player" src="/gmusic/VILLAGE%20-%20Takeover.mp3" controls>
			<!-- <source id="mp3source" type="audio/mpeg"></source> -->
		</audio>
		<nav id="controls">
			<ul>
				<li><a href="" class="back">Back</a></li>
				<li><a href="" class="play">Play</a></li>
				<li><a href="" class="forward">Forward</a></li>
			</ul>
		</nav>
		<div id="info">
			<img src="" id="thumb" />
			<h2>Kanye West - Flashing Lights (ft. Dwele)</h2>
			<h4>Graduation (2006)</h4>
		</div>
		<p id="time-current">0:48</p>
		<div id="seek"></div>
		<p id="time-remain">3:58</p>
	</div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/vendor/quantize.js"></script>
    <script src="/js/vendor/colorThief.js"></script>
    <script src="/js/vendor/historyjs/scripts/bundled/html4+html5/jquery.history.js">
    </script>

    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/library.js"></script>
    <script src="/js/audio.js"></script>

</html>