    
    <nav id="menu">

        <div id="switch-media">
            <ul class="closed">
                <li><a href="/library/music/">Music</a></li>
                <li><a href="/library/tvshows/">TV Shows</a></li>
                <li><a href="/library/movies/">Movies</a></li>
            </ul>
        </div>

        <ul id="main-nav">
            <li><a href="/browse/">Browse</a></li>
            <li><a href="/library/" class="current">My Library</a></li>
            <li><a href="/library/playlists">Playlists</a></li>
            <li><a href="/library/genres">Genres</a></li>
        </ul>

    </nav>