{{>_header}}
{{>_menu}}
	<p>{{locals.message}}</p>
	<h1>New Songs</h1>
	<form action="/songs/" method="POST">
	<label for="song_artist">Artistid</label><input type="text" id="songartist" name="song_artist" /><br />
	<label for="song_releaseid">Releaseid</label><input type="text" id="songreleaseid" name="song_releaseid" /><br />
	<label for="song_title">Title</label><input type="text" id="songtitle" name="song_title" /><br />
	<label for="song_location">Location</label><input type="text" id="songlocation" name="song_location" /><br />

	<!-- <input type="file" id="files" multiple />
	<output id="list"></output>

	<button id="browse">Browse for File</button> -->

	<button id="submit-edit" type="submit">Submit</button>
	</form>

	<script>
	/*
	$(document).ready(function(){
		console.log('filesystem test');
		function onInitFs(fs) {
  			console.log('Opened file system: ' + fs.name);
  			fs.root.getFile('21321435365765883452523log.txt', {create: true}, function(fileEntry) {

		    // Create a FileWriter object for our FileEntry (log.txt).
		    fileEntry.createWriter(function(fileWriter) {

		      fileWriter.onwriteend = function(e) {
		        console.log('Write completed.');
		      };

		      fileWriter.onerror = function(e) {
		        console.log('Write failed: ' + e.toString());
		      };

		      // Create a new Blob and write it to log.txt.
		      var blob = new Blob(['Lorem Ipsum'], {type: 'text/plain'});

		      fileWriter.write(blob);

		    }, errorHandler);

		  }, errorHandler);
		}

		function errorHandler(err){
			console.log('Error: ', err);
		}

		window.webkitRequestFileSystem(window.TEMPORARY, 5*1024*1024, onInitFs, errorHandler);
	});*/

	</script>

{{>_footer}}